/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body,
input,
button {
 font-family: 'Roboto', sans-serif;
}

body {
  font: 1em/1.5;
  color: white;
	background: white;
}

header {
	text-align: center;
  color: #6e56a4;
  padding: 2em 0;
}

h1 {
	font-size: 2.5em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
	margin: 0;
}

a {
  text-decoration: none;
}

/* =================================
  Form Element Styles
==================================== */

form {
	padding: .875em 1.875em 1.875em;
	background: #8a76b7;
  border-radius: 10px;
}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
	margin-top: 1.5em;
}

legend,
button {
	font-size: 1.25em;
}

legend {
	font-weight: 500;
	padding-top: .5em;
	border-top: 2px solid #6e56a4;
	margin-bottom: 1.125em;
}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
}

label {
	color: white;
	display: block;
	margin-bottom: .5em;
}

input,
select {
	margin-bottom: 1.125em;
}

input {
	font-size: 1em;
	font-weight: 500;
	padding: .8em;
	background: #f9f9f9;
	border: 2px solid #6e56a4;
	outline: none;
}

input:focus {
	background: #fff;
	border-color: white;
	transition: border-color .7s, background-color .4s;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}

button {
	color: #fff;
	padding: .55em 1.25em;
	background: #6e56a4;
	margin: 1.25em 0 .5em;
	cursor: pointer;
  transition: all 0.3s ease 0s;

}

button:hover {
	background: #51b893;
}


#totalSection {
  font-size: 1.25em;
  font-weight: 500;
}

#paymentOptionIndicator {
  margin-top: 30px;
  margin-bottom: 20px;
}


#visa,
#mastercard,
#discover,
#amex {

  height: 50px;
  opacity: .25;
  transition: opacity .15s;
  transition-timing-function: cubic-bezier(0.5, 0.01, 0.58, 1);

}

#mastercard,
#discover,
#amex {
  margin-left: 12px;
}

#exp-year {
  margin-left: 10px;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #F07575; /* fallback color if gradients are not supported */
    background-image: url(../img/downarrow.svg), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
    background-image: url(../img/downarrow.svg), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Fx (3.6 to 15) */
    background-image: url(../img/downarrow.svg), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /* For pre-releases of IE 10*/
    background-image: url(../img/downarrow.svg), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Opera (11.1 to 12.0) */
    background-image: url(../img/downarrow.svg), linear-gradient(to bottom, #6e56a4, #6e56a4); /* Standard syntax; must be last */
    background-position: center right;
    background-repeat: no-repeat;
    border: 2px solid #998ab7;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-right: 52px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* =================================
  Page Styles
==================================== */

.container {
	margin: auto;
	max-width: 680px;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.interests input {
	margin-bottom: 0;
}

.credit-card {
	margin-top: 1.25em;
}


/* =================================
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* =================================
  Media Queries
==================================== */

@media (max-width: 451px) {

  #visa,
  #mastercard,
  #discover,
  #amex {
    height: 40px;
  }

  #paymentOptionIndicator {
    display: flex;
    justify-content: center;
  }

  .col-3 {
		width: 60.5%;
    float: left;
	}

  #cvvCol{
    width: 37%;
    margin-left: 2.5%;
  }

  #exp-month {
    width: 60.5%;
  }

  #exp-year{
    width: 37%;
    margin-left: 0px;
    float: right;
  }

  #payment {
    width: 100%
  }

}

@media (min-width: 0) and (max-width: 679px) {
	header {
		padding: 2em 0;
	}
	button {
		width: 100%;
	}
}

@media (min-width: 680px) {
	/*header {
		padding: 4.65em 0 2.5em;
	}*/
	.col {
		float: left;
	}
	.col + .col {
		margin-left: 2.5%;
	}
	.col-3 {
		width: 23%;
	}
	.col-6 {
		width: 49%;
	}
}
